$color-primary-hotel: #c69963;

// FONT VARIABLES
$font-primary: "Nunito", sans-serif;
$font-display: "Josefin Sans", sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px;
$bp-small: 37.5em; // 600px;

$color-primary: #0609a5;
$color-primary-light: #07c9fa;
$color-primary-dark: #020358;

$color-secondary: #eaa001;
$color-secondary-light: #eec34e;
$color-secondary-dark: #8f6203;

$color-white: #fff;
$color-black: #000;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-1: #54483a;
$color-grey-dark-2: #6d5d4b;
$color-grey-dark-3: #333;
// FONT
$default-font-size: 16px;

$color-header: #d2d8e4;
$color-sidebar: #b1b9cc;
$color-footer: #3f435e;
// GRID
$grid-width: 1140px;
$gutter-vertical: 0px;
$gutter-vertical-small: 0px;
$gutter-horizontal: 0px;
