.fa-pencil-alt {
  color: #0186fe;
}

.fa-github:hover {
  cursor: pointer;
  color: #0186fe;
}

.fa-linkedin:hover {
  cursor: pointer;
  color: #0186fe;
}

.fa-google-drive:hover {
  cursor: pointer;
  color: #0186fe;
}

.fa-youtube:hover {
  cursor: pointer;
  color: #0186fe;
}

.fa-globe:hover {
  cursor: pointer;
  color: #0186fe;
}
