.button-submit {
  width: 100%;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.fa-facebook:hover {
  cursor: pointer;
  color: #0186fe;
}

.fa-instagram:hover {
  cursor: pointer;
  color: #0186fe;
}
