.search-hover {
  cursor: pointer;
}

.searchBar {
  padding-top: 2rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
  padding-left: 2rem;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.flex-horizontal {
  display: flex;
}
