.decision-forum {
  padding: 1rem 1rem;
  background-color: white;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.visit-button {
  display: flex;
  justify-content: center;
}

.forum-h4 {
  color: #0084ff;
}
